<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script>
      window.state = <%- JSON.stringify(state, null, 2) %>;
    </script>
    <style>
    </style>
  </head>
  <body>

    <div class="container">

      <h1>World State</h1>

      <p>Connected: <span id="connectionStatus" class="badge badge-info">Connecting</span></p>

      <pre id="worldState"></pre>
    </div>
    <script>

function setConnectionStatus(status, badge) {
  let connectionIndicator = document.getElementById('connectionStatus');
  connectionIndicator.className = 'badge badge-'+badge;
  connectionIndicator.innerHTML = status[0].toUpperCase()+status.substr(1);
}

function replacer(key, value) {
  if(key === 'colour'){
    value = value+" <span class='badge' style='background-color:"+value+";'>&nbsp;&nbsp;&nbsp;</span>";
  }
  return value;
}

function updateWorldStateDisplay(stateObject) {
  console.log(`received new state: `, stateObject);
  document.getElementById('worldState').innerHTML = JSON.stringify(stateObject, replacer, 2);
}

updateWorldStateDisplay(window.state);

// Socket
let socket = io.connect(); // Listen on same protocol+domain+port

socket.on('connect', () => setConnectionStatus('connected', 'success'));
socket.on('disconnect', () => setConnectionStatus('disconnected', 'warning'));
socket.on('error', () => setConnectionStatus('error', 'error'));

socket.on('sync_state', updateWorldStateDisplay);
    </script>
  </body>
</html>