<!DOCTYPE html>

<head>
  <title>State-synchronisation test</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style type="text/css">

.box-container {
  padding: 0 2.5rem;
  margin-top: 1rem;
  border: 1px solid rgba(0,0,0,.125);
  background-color: #ffffff;
}

.box {
  display: block;
  width: 5rem;
  height: 5rem;

  position: relative;

  margin: 0 -2.5rem;

  transition: left 1s ease 0s;
}

#box1 {
  left: 50%;
}

  </style>
</head>

<body>
  <div class="container">
    <div class="title">
      <h3>State-synchronisation test</h3>
    </div>

    <div class="card">
      <div class="card-header">Anonymous</div>
      <div class="message-box">
        <ul class="list-group list-group-flush" id="message-list"></ul>
        <div class="info"></div>
      </div>

      <div class="card-footer">
        <div class="input-group">
          <label for="formControlRange">Box position</label>
          <input type="range" class="form-control-range" id="boxPosition">
        </div>
        <div class="box-container">
          <span id="box1" class="border border-primary box"></span>
        </div>
      </div>

    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="/js/chatroom.js"></script>
</body>

</html>