<!DOCTYPE html>
<html>
  <head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/components/interactions.js"></script>
    <script src="/js/components/cosmetic.js"></script>
    <style>
      div.a-enter-ar {
        visibility: hidden;
      }

      .init-box {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border-radius: 20px;
      }

      .init-box button {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #e0f8f8;
        border: 3px solid #a0d8d8;
        color: #a0d8d8;
        font-size: 300%;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <a-scene debug shadow="type: pcfsoft; autoUpdate: true;" renderer="sortObjects: true;">
      <a-assets>
        <img id="wood-1" src="images/textures/wood-1-256.jpg">
        <img id="rubikscube" src="images/textures/rubikscube.png">
        <img id="note-texture" src="images/textures/note-a4-600x900.jpg">

        <a-asset-item id="chestofdrawers-obj" src="models/chestofdrawers.obj"></a-asset-item>
        <a-asset-item id="chestofdrawers-drawer-obj" src="models/chestofdrawers-drawer.obj"></a-asset-item>
      </a-assets>

      <a-entity position="0 1.5 -2" rotation="0 0 0"
        animation="property:rotation; to:0 360 0; dur:10000; loop:true; easing:linear;"
      >
        <a-torus-knot id="knot"
          outlined="colour:#0080ff; opacity:0.75;thickness:0.02;"
          interaction
          radius="0.5" radius-tubular="0.1" segments-tubular="256" segments-radial="64"
          color="#ffffff"
        ></a-torus-knot>
        </a-entity>

      <a-entity id="chest" obj-model="obj: #chestofdrawers-obj;" scale="0.01 0.01 0.01" material="src: #wood-1; repeat: 0.05 0.1;" shadow="receive: false; cast: true;" position="0 0 -1.5"><!-- chest of drawers group -->
        <a-box id="note" interaction="interacted:true; rotationOffset:70 0 0; positionOffset:0 50 125; easing:easeInOutCirc;" width="20" depth="30" height="1" position="0 102 0" material="src:#note-texture"></a-box>

        <a-entity id="drawer1" obj-model="obj: #chestofdrawers-drawer-obj;" interaction="positionOffset:0 0 40;" rotation="0 0 0" position="0 76 0" material="src: #wood-1; repeat: 0.05 0.1; offset: 0 0;"></a-entity>
        <a-entity id="drawer2" obj-model="obj: #chestofdrawers-drawer-obj;" interaction="positionOffset:0 0 40;" rotation="0 0 0" position="0 52 0" material="src: #wood-1; repeat: 0.05 0.1; offset: 0.1 0.2;"></a-entity>
        <a-entity id="drawer3" obj-model="obj: #chestofdrawers-drawer-obj;" interaction="positionOffset:0 0 40;" shadow="receive: true; cast: false;" rotation="0 0 0" position="0 28 0" material="src: #wood-1; repeat: 0.05 0.1; offset: 0.3 0.5;">
          <a-box id="rubikscube" src="#rubikscube" interaction selectable-goal width="10" depth="10" height="10" position="0 7 0" rotation="0 13 0"></a-box>
        </a-entity>
        <a-entity id="drawer4" obj-model="obj: #chestofdrawers-drawer-obj;" interaction="positionOffset:0 0 40;" rotation="0 0 0" position="0 4 0" material="src: #wood-1; repeat: 0.05 0.1; offset: 0.7 0.6;"></a-entity>
      </a-entity>

      <a-plane id="floor" shadow="receive: true; cast: false;" position="0 0 0" rotation="-90 0 0" width="6" height="8" color="#7BC8A4"></a-plane>
      <a-sky id="sky" color="#ECECEC"></a-sky>

      <a-entity id="ambientlight" light="type: ambient; color: #ffd6aa; intensity: 0.25"></a-entity>
      <a-entity id="holder-directionallight" position="2 2.5 1">
        <a-entity id="directionallight" light="type: directional; color: #ffd6aa; intensity: 0.90; castShadow: true;" position="0 1 0"></a-entity>
      </a-entity>

      <a-camera position="0 1.6 0" rotation="0 0 0" look-controls wasd-controls="enabled:false">
        <a-entity cursor="fuse: false; mouseCursorStylesEnabled: true; rayOrigin:entity" position="0 0 -0.1" scale="1 1 1"
          geometry="primitive: ring; radiusInner: 0.002; radiusOuter: 0.003" material="color: #ff0000; shader: flat"
          animation__enterSize="startEvents:mouseenter; property:scale; from:1 1 1; to:0.2 0.2 0.2; dur:500;"
          animation__enterColour="startEvents:mouseenter; property:material.color; to:#0088ff; dur:0;"
          animation__leaveSize="startEvents:mouseleave; property:scale; to:1 1 1; dur:100;"
          animation__leaveColour="startEvents:mouseleave; property:material.color; to:#ff0000; dur:100;"
          raycaster="far: 20; interval: 0; showLine:true;"
          interactor
        ></a-entity>
      </a-camera>
    </a-scene>
    <div class="init-box">
      <button>Stand up, then tap or click to enter full&#8203;screen</button>
    </div>
    <script>
      window.addEventListener('load', () => {
        document.querySelector('.init-box button').addEventListener('click', e => {
          document.querySelector('.init-box').style.display = 'none';
          document.getElementsByTagName('a-scene')[0].requestFullscreen({
            navigationUI: 'hide'
          });
        });
      });
    </script>
  </body>
</html>