<!DOCTYPE html>

<html>
  <head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="/js/components/custom.js"></script>
    <script src="/js/components/core-modified/raycaster2.js"></script>
    <script src="/js/components/core-modified/cursor2.js"></script>
    <script>

function move(el, dir) {
  const speed = 0.01;
  let pos = el.object3D.position;
  if(dir > 0 && pos.z < 0.4) {
    pos.z = Math.min(0.4, pos.z+speed);
    requestAnimationFrame(move.bind(null, el, dir));
  }
  else if(dir < 0 && pos.z > 0) {
    pos.z = Math.max(0, pos.z-speed);
    requestAnimationFrame(move.bind(null, el, dir));
  }
}
    </script>
  </head>
  <body>
    <a-scene shadow="type: pcfsoft; autoUpdate: true;">
      <a-assets>
        <img id="wood-1" src="images/textures/wood-1-256.jpg">
        <img id="rubicscube" src="images/textures/rubicscube.png">

        <a-asset-item id="chestofdrawers-obj" src="models/chestofdrawers.obj"></a-asset-item>
        <a-asset-item id="chestofdrawers-drawer-obj" src="models/chestofdrawers-drawer.obj"></a-asset-item>
      </a-assets>

      <a-entity shadow="receive: false; cast: true;" position="0 0.6 -1.5"><!-- chest of drawers group -->
        <a-entity obj-model="obj: #chestofdrawers-obj;" scale="0.01 0.01 0.01" rotation="90 -90 0" position="0.71 0.35 0.25"  material="src: #wood-1; repeat: 0.1 0.5"></a-entity>
        <a-entity interactable obj-model="obj: #chestofdrawers-drawer-obj;" openable-drawer scale="0.01 0.01 0.01" rotation="-90 0 0" position="0 0 0" material="src: #wood-1;"></a-entity>
        <a-entity interactable obj-model="obj: #chestofdrawers-drawer-obj;" openable-drawer scale="0.01 0.01 0.01" rotation="-90 0 0" position="0 -0.24 0" material="src: #wood-1;"></a-entity>
        <a-entity interactable obj-model="obj: #chestofdrawers-drawer-obj;" shadow="receive: true; cast: false;" openable-drawer scale="0.01 0.01 0.01" rotation="-90 0 0" position="0 -0.48 0" material="src: #wood-1;">
          <a-box interactable src="#rubicscube" selectable-goal width="10" depth="10" height="10" position="0 0 34" rotation="0 0 13"></a-box>
        </a-entity>
        <a-entity interactable obj-model="obj: #chestofdrawers-drawer-obj;" openable-drawer scale="0.01 0.01 0.01" rotation="-90 0 0" position="0 -0.72 0" material="src: #wood-1;"></a-entity>
      </a-entity>

      <a-plane shadow="receive: true; cast: false;" position="0 0 0" rotation="-90 0 0" width="6" height="8" color="#7BC8A4"></a-plane>
      <a-sky color="#ECECEC"></a-sky>

      <a-entity light="type: ambient; color: #ffd6aa; intensity: 0.25"></a-entity>
      <a-entity position="2 2.5 1">
        <a-entity light="type: directional; color: #ffd6aa; intensity: 0.90; castShadow: true;" position="0 1 0"></a-entity>
      </a-entity>

      <a-entity position="0 0 0"></a-entity>
        <a-camera position="0 2 0" look-controls wasd-controls>
          <a-entity cursor2="fuse: false; mouseCursorStylesEnabled: true; rayOrigin:entity" position="0 0 -1" scale="1 1 1"
            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: cyan; shader: flat"
            animation__enter="startEvents:mouseenter; property:scale; from:1 1 1; to:0.2 0.2 0.2; dur:500;"
            animation__leave="startEvents:mouseleave; property:scale; to:1 1 1; dur:100;"
            raycaster2="maxObjects: 1; uniqueElements: true; far: 20; interval: 1000; objects: [interactable]"
          >
          </a-entity>
        </a-camera>
      </a-entity>
    </a-scene>
  </body>
</html>